:root {
    /* ### Primary */

    --Dark-Blue-intro: hsl(217, 28%, 15%);
    --Dark-Blue-main: hsl(218, 28%, 13%);
    --Dark-Blue-footer: hsl(216, 53%, 9%);
    --Dark-Blue-testimonials: hsl(219, 30%, 18%);

    /* ### Accent */

    --Cyan-inside-gradient: hsl(176, 68%, 64%);
    --Blue-inside-gradient: hsl(198, 60%, 50%);
    --Light-Red-error: hsl(0, 100%, 63%);

    --White: hsl(0, 0%, 100%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Open Sans', sans-serif;
        scroll-behavior: smooth;
    }

    .wrapper {
        max-width: 1356px;
        margin: 0 auto;
    }

    .anim {
        position: relative;
    }

    .anim::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        height: 1px;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.2s ease;
    }

    .anim:hover::after {
        transform: scaleX(1);
    }

}

.bgCurve::before {
    content: '';
    position: absolute;
    width: 100%;
    background: url(./utils/images/bg-curvy-desktop.svg) no-repeat bottom/100% 100%;
    height: 26rem;
    z-index: 0;
    top: -24.7rem;
}


/* ScrollBar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #1f1d1d;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(40, 198, 209);
    border-radius: 5px;
}

::-webkit-scrollbar-button {
    display: none;
}

@media (max-width: 1024px) {

    .bgCurve::before {
        background: url(./utils/images/bg-curvy-mobile.svg)no-repeat bottom/100% 40%;
        top: -25.8rem;
    }
}